<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tinderlytics</title>
    <!-- Add your CSS and other common elements -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
	
	<style>
	.drop-zone {
		padding: 20px;
		border: 2px dashed #ccc;
		margin-bottom: 20px;
	}
	
	.uploaded-files {
		 display: flex;  
		 flex-direction: column;
	 }
	 
	 .uploaded-file{
		 margin-bottom: 10px;
	 }

    </style>
    
    
	
	{% block header %}{% endblock %}  <!-- Placeholder for header block -->
	
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Tinderlytics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">Upload</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}{% endblock %}  <!-- Placeholder for content block -->

    <footer>
        <!-- Add your footer content -->
    </footer>
    
    <!-- Add your JavaScript and other common elements -->
</body>

<footer>
{% block footer %}{% endblock %}
</footer>

</html>
